services:
  composite-service:
    build:
      context: ..
      dockerfile: backend/composite_services/Dockerfile
    image: joelle-composite:latest
    container_name: joelle-composite
    ports:
      - "8000:8000"
    env_file:
      - ./.env
    volumes:
      - ./composite_services:/app/backend/composite_services
    restart: unless-stopped
    networks:
      - portfolio-network

  auth-service:
    build:
      context: ..
      dockerfile: backend/atomic_services/auth/Dockerfile
    image: joelle-auth:latest
    container_name: joelle-auth
    ports:
      - "5005:5005"
    env_file:
      - ./.env
    volumes:
      - ./atomic_services/auth:/app/backend/atomic_services/auth
    restart: unless-stopped
    networks:
      - portfolio-network

  skills-service:
    build:
      context: ..
      dockerfile: backend/atomic_services/skills/Dockerfile
    image: joelle-skills:latest
    container_name: joelle-skills
    ports:
      - "5000:5000"
    env_file:
      - ./.env
    volumes:
      - ./atomic_services/skills:/app/backend/atomic_services/skills
    restart: unless-stopped
    networks:
      - portfolio-network

  education-service:
    build:
      context: ..
      dockerfile: backend/atomic_services/education/Dockerfile
    image: joelle-education:latest
    container_name: joelle-education
    ports:
      - "5001:5001"
    env_file:
      - ./.env
    volumes:
      - ./atomic_services/education:/app/backend/atomic_services/education
    restart: unless-stopped
    networks:
      - portfolio-network

  work-service:
    build:
      context: ..
      dockerfile: backend/atomic_services/work/Dockerfile
    image: joelle-work:latest
    container_name: joelle-work
    ports:
      - "5002:5002"
    env_file:
      - ./.env
    volumes:
      - ./atomic_services/work:/app/backend/atomic_services/work
    restart: unless-stopped
    networks:
      - portfolio-network

  community-service:
    build:
      context: ..
      dockerfile: backend/atomic_services/community/Dockerfile
    image: joelle-community:latest
    container_name: joelle-community
    ports:
      - "5003:5003"
    env_file:
      - ./.env
    volumes:
      - ./atomic_services/community:/app/backend/atomic_services/community
    restart: unless-stopped
    networks:
      - portfolio-network

  projects-service:
    build:
      context: ..
      dockerfile: backend/atomic_services/projects/Dockerfile
    image: joelle-projects:latest
    container_name: joelle-projects
    ports:
      - "5004:5004"
    env_file:
      - ./.env
    volumes:
      - ./atomic_services/projects:/app/backend/atomic_services/projects
    restart: unless-stopped
    networks:
      - portfolio-network

networks:
  portfolio-network:
    driver: bridge
